<div style="margin: auto; display: flex; flex-direction: column;">
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(197, 224, 180);">PRACTICE</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(197, 224, 180);">TEST MEMOIRE 1</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(197, 224, 180);">TEST MEMOIRE 2</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(197, 224, 180);">TEST MEMOIRE 3</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(197, 224, 180);">TEST MEMOIRE 4</button>
  </div>
</div>