<div style="margin: auto; display: flex; flex-direction: column;" >
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(197, 224, 180);">MEMOIRE</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(169, 209, 142);">ATTENTION</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(84, 130, 53);">SENSORIEL</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(56, 87, 35);">QUESTIONNAIRE</button>
  </div>
</div>