<div style="margin: auto; display: flex; flex-direction: column;" >
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(169, 209, 142)">PRACTICE</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(169, 209, 142)">TEST ATTENTION 1</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(169, 209, 142)">TEST ATTENTION 2</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(169, 209, 142)">TEST ATTENTION 3</button>
  </div>
  <div>
    <button class="btn bouton_menu" style="background-color: rgb(169, 209, 142)">TEST ATTENTION 4</button>
  </div>
  
</div>  